<%= render 'shared/header' %>
<div class="container mx-auto flex flex-col justify-between min-h-screen py-8">
  <div class="flex-grow flex items-center justify-center">
    <div class="flex flex-col items-center gap-8">
      <div class="flex justify-center gap-8">
        <div class="flex flex-col items-center shadow-lg rounded-lg p-4 bg-white border-2 object-cover border-gray-200">
          <%= link_to image_tag("resipe_book.png", class: "w-40 h-40 object-cover"), recipes_path %>
          <p class="mt-2 text-center font-semibold">レシピ一覧</p>
        </div>
      </div>
    </div>
  </div>
</div>
