<div class="container">
  <div class="flex justify-center">
    <%= link_to image_tag("cooking.png", class: "w-45, h-40 border-black border-2 "), "#" %>
    <%= link_to image_tag("resipe_index.png", class: "w-45 h-40 border-black border-2"), "#" %>
  </div>
  <div class="flex justify-center">
    <%= link_to image_tag("buy.png", class: "w-29 h-40 border-black border-2"), "#" %>
    <%= link_to image_tag("resipe_book.png", class: "w-30 h-40 border-black border-2"), "#" %>
  </div>
</div>
