<% field_id = SecureRandom.uuid %>
<div id="step_<%= field_id %>">
  <div class="flex items-start space-x-4">
    <div class="flex-grow">
      <%= f.text_area :description,
                      class: "textarea textarea-bordered w-full shadow-lg",
                      placeholder: "例）にんじんの皮を剥きます。" %>
    </div>
    <div class="flex-shrink-0">
      <%= link_to remove_step_fields_recipes_path(field_id: field_id),
                  data: {
                    turbo_method: :delete,
                    turbo_stream: true } do %>
        <%= image_tag('destroy_mark.png', alt:'削除', class: "w-12 h-12") %>
      <% end %>
    </div>
  </div>
</div>
