<%= turbo_frame_tag "user_recipe_list" do %>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 md:gap-8">
    <% @recipes.each do |recipe| %>
      <%= render 'shared/recipe_card', recipe: recipe, user: current_user %>
    <% end %>
  </div>

  <% if @recipes.next_page %>
    <div class="mt-4">
      <%= turbo_frame_tag "user_recipe_list",
        src: profile_path(@user, recipes_page: @recipes.next_page),
        loading: :lazy
      %>
    </div>
  <% end %>
<% end %>
<!--
  1. "user_recipe_list"という名前のturbo_frameを作成
  2. 2列のグリッドを作成し、間隔を4pxに設定
  3. recipes配列からrecipeを取り出し、shared/recipe_cardでレンダリング
  4. 次のページが存在する場合は、turbo_frame_tagの"user_recipe_list"を呼び出して、srcに次のページのURLを指定
  5. loading: :lazyを指定し、ページが表示されるまで読み込みを遅延させる
-->
