<p>Hello <%= @resource.name %> さん</p>

<p>パスワード変更のリンクが要求されました。以下のリンクからパスワードを変更することができます。</p>

<p><%= link_to t('devise.passwords.edit.change_my_password'), edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストをしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
